@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

body {
    background-color: #4B5320;
}

#clocking {
    position: fixed;
    color: whitesmoke;
    font-family: 'Black Ops One', cursive;
    font-size: 120px;
    top: 50%;
    left: 35%
   

}